/* Sidebar CSS */
.sidebar-open {
  width: 220px;
  background-color: #2a2e3b;
  color: #fff;
  padding-top: 20px;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.sidebar-title {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
}

.sidebar-username {
  position: absolute;
  bottom: 0;
  width: 100%; /* Pastikan elemen mengisi lebar penuh sidebar */
  text-align: center; /* Pusatkan teks jika diperlukan */
}
.sidebar-item {
  padding: 12px 20px;
  border-radius: 5px;
  margin: 5px 0px;
  display: flex;
  align-items: center;
  background-color: #2a2e3b;
  color: #d1d5db;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  border: none;
}

/* Hover efek untuk semua sidebar-item */
.sidebar-item:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Efek hover */
  color: #ffffff;
}

/* Menambahkan warna hover yang lebih tegas untuk sidebar item */
.sidebar-item:active,
.sidebar-item:hover {
  background-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* Lebih gelap saat dihover atau aktif */
}

/* Highlight active item */
.sidebar-item-active {
  background-color: #1f2230; /* Warna untuk item aktif */
  color: #fff;
}

.sidebar-icon {
  margin-right: 15px;
}

.sidebar-open .sidebar-item {
  padding-left: 30px; /* Padding lebih banyak di sebelah kiri saat sidebar terbuka */
}

.sidebar-closed .sidebar-item {
  padding: 10px;
  justify-content: center;
  margin-left: 10px;
}

.sidebar-closed .sidebar-title {
  opacity: 0; /* Membuat teks transparan ketika sidebar ditutup */
}

.sidebar-open .sidebar-title {
  opacity: 1; /* Teks akan kembali terlihat saat sidebar terbuka */
}

.accordion-toggle {
  display: flex;
  align-items: center;
  justify-content: right;
}

.accordion-toggle:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.no-border {
  border: none !important; /* Menghapus border */
}
