/* Sidebar.css */

.sidebar-title {
  color: #ffffff;
  font-size: 1.25rem;
  text-align: center;
  padding: 15px 0;
  border-bottom: 1px solid #495057; /* Garis bawah judul */
}

.sidebar-item {
  color: #ffffff;
  background-color: #343a40; /* Warna latar belakang untuk item */
  border: none;
  padding: 10px 20px;
  transition: padding 0.3s ease, background-color 0.3s ease;
}

.sidebar-item:hover {
  background-color: #495057; /* Warna saat hover */
}

.sidebar-item .nav-link {
  color: inherit;
  text-decoration: none;
}

.sidebar-item.active {
  background-color: #495057; /* Warna untuk item aktif */
}

.accordion-button {
  color: #ffffff;
  background-color: #343a40;
  border: none;
  font-weight: bold;
}

.accordion-button:not(.collapsed) {
  background-color: #495057;
}

.accordion-button:hover {
  background-color: #6c757d;
}

/* Jika sidebar tertutup, padding akan dikurangi */
.sidebar-open .sidebar-item {
  padding-left: 20px;
}

.sidebar-closed .sidebar-item {
  padding-left: 10px;
}

/* Atur transisi dan animasi untuk penutupan sidebar */
.sidebar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.sidebar-closed .sidebar-title,
.sidebar-closed .sidebar-item {
  text-align: center;
}

.sidebar-closed .sidebar-item,
.sidebar-closed .sidebar-title {
  width: 50px;
}

.sidebar-open .sidebar-item,
.sidebar-open .sidebar-title {
  width: 100%;
}
